{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 class="mx-auto my-0 text-uppercase">
                <img src='{% static "images/logo.png" %}'>
              </h1>
              <h2 class="text-white-50 mx-auto mt-3 mb-5">
                안녕하세요. <br>
                지구별여행입니다.<br>
                <div class="mt-3"></div>
                곧 오픈합니다.<br>
                조금만 기다려주세요.<br>
                <div class="mt-3"></div>
                <a class="text-info" href="tel: 062-413-9990">062-413-9990</a> <br> 
                <div class="mt-3"></div>
                카톡문의-지구별여행사 검색후 문의주세요.</span>
              </h2>
          </div>
      </div>
  </div>
</header>

{% endblock content %}